<md-menu>
	<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
		<ng-md-icon icon="facebook-box" style="fill: #3b5998"size="36"></ng-md-icon>
	</md-button>
	<md-menu-content width="4">
		<md-menu-item ng-if="!isLoggedIn()">
			<md-button ng-click="login()">
				<md-icon><ng-md-icon icon="login" size="24"></ng-md-icon></md-icon>
				Login to Facebook
			</md-button>
		</md-menu-item>
		<md-menu-item ng-if="isLoggedIn()">
			<md-button ng-click="logout()">
				<md-icon><ng-md-icon icon="logout" size="24"></ng-md-icon></md-icon>
				Logout from Facebook
			</md-button>
		</md-menu-item>
		<!-- <md-menu-item>
			<md-button>
				<md-icon><ng-md-icon icon="thumb_up" size="24"></ng-md-icon></md-icon>
				Like us on Facebook
			</md-button>
		</md-menu-item> -->
		<md-menu-item>
			<md-button ng-click="share()">
				<md-icon><ng-md-icon icon="share" size="24"></ng-md-icon></md-icon>
				Share on Facebook
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>