<div class="container">
	<h3 class="center">tl;dr -- too long; didn't read</h3>
	<p class="flow-text">
		We know that everyone is busy and do not have time to read articles. What's more, we get cheated by title-baits way too often these days.
	</p>
	<p class="flow-text">
		In tl;dr, we aim to change the game of reading.<br>
		<b>
			Read concisely with context provided by headings.<br>
			Expand a point only when you are interested.
		</b>
	</p>
	<p class="flow-text">
		Best optimized on mobile for the busy you, letting you read the essence on the go.
	</p>
	<a href="#/feed" class="waves-light waves-effect btn blue">Explore now</a>
</div>