<div class="container">
	<h3 class="center">tl;dr -- too long; didn't read</h3>
	<p class="flow-text">
		We believe you have had that "tl;dr" moment too.
	</p>
	<p class="flow-text">
		At tl;dr, we aim to make casual reading more efficient. We do so by condensing articles into their subheadings, like a content page for your articles. So at one glance, you, the reader, know what are the key content of the article.
	</p>
	<p class="flow-text"><b>
		No more title baits, no more meaningless scrolling.<br>
		Expand the content only when you are interested.
	</b></p>
	<div layout="column" layout-align="start center">
		<a href="#/feed"><md-button class="about-explore-button black-text">Explore now</md-button></a>
	</div>
</div>
<link rel="stylesheet" href="/static/css/about.css">