<div class="container" infinite-scroll="fetchMoreArticles()" infinite-scroll-immediate-check="false">

<div ng-if="articles.length===0 && !isLoading">No articles found for this category.</div>
<div class="row" ng-repeat="article in articles">
	<div class="col s12">
		<div class="card">
			<div class="card-image">
				<img ng-src="{{article.image}}">
			</div>
			<a ng-href="{{article.url}}" class="black-text"><h5 class="article-title">{{article.title}}</h5></a>
			<p class="flow-text article-desc">
				Category: <a ng-href="{{article.categoryUrl}}">{{article.category}}</a><br>
				Source: <a ng-href="{{article.url}}">{{article.source}}</a>
			</p>
			<ul class="collapsible" data-accordion="true" watch>
				<li ng-repeat="point in article.bullets" post-repeat="initCollapsible">
					<div class="collapsible-header">{{point.title}}</div>
					<div class="collapsible-body"><p ng-repeat="para in point.details track by $index">{{para}}</p></div>
				</li>
				<li ng-if="article.bullets.length===0">
					<p class="article-desc">{{article.headlines[0]}}</p>
				</li>
			</ul>
			<div class="row">
				<md-button class="article-action-button"><md-icon>
					<ng-md-icon icon="bookmark_outline" style="fill: black" size="24"></ng-md-icon>
					<md-tooltip>Bookmark this article</md-tooltip>
				</md-icon></md-button>
				<md-button class="article-action-button"><md-icon>
					<ng-md-icon icon="thumb_up" style="fill: black" size="24"></ng-md-icon>
					<md-tooltip>Like this article</md-tooltip>
				</md-icon></md-button>
				<md-button class="article-action-button" ng-click="shareArticle(article.url)"><md-icon>
					<ng-md-icon icon="share" style="fill: black" size="24"></ng-md-icon>
					<md-tooltip>Share this article on Facebook</md-tooltip>
				</md-icon></md-button>
			</div>
		</div>
	</div>
</div>
<div layout="row" layout-align="space-around" ng-if="isLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
</div>
<link rel="stylesheet" href="/static/css/feed.css">