<div class="container">
<div class="row" ng-repeat="article in articles" post-repeat="initCollapsible">
	<div class="col s12">
		<div class="card">
			<div class="card-image">
				<img ng-src="{{article.image}}">
				<span class="card-title">{{article.title}}</span>
			</div>
			<ul class="collapsible" data-accordion="true" watch>
				<li class="collapsible-header">Category: {{article.category}}</li>
				<li class="collapsible-header">Source: <a ng-href="{{article.info.url}}">{{article.source}}</a></li>
				<li ng-repeat="point in article.info.bullets">
					<div class="collapsible-header">{{point.title}}</div>
					<div class="collapsible-body"><p ng-repeat="para in point.details track by $index">{{para}}</p></div>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>