<div class="home-container">
<div class="container">
	<div layout="column" layout-align="start center">
		<img src="/static/images/logo.png" style="width: 150px; height: 150px">
		<h5 class="home-text">Too long; didn't read</h5>
		<h4 class="home-text">A fuss-free way to read articles</h4>
		<p class="white-text flow-text">
			No more title baits; no more endless scrolling.<br>
			Read what you want easily.
		</p>
		<a href="#/feed"><md-button class="home-explore-button black-text">
			Explore now
		</md-button></a>
		<!-- <a href="#/feed" class="waves-light waves-effect btn yellow">Explore now</a> -->
	</div>
</div>
</div>
<link rel="stylesheet" href="/static/css/home.css">