<div class="home-container">
<div class="container">
	<div layout="column" layout-align="start center">
		<img src="/static/images/logo.png" class="home-logo">
		<i class="home-text">Too long; didn't read</i>
		<h4 class="home-text">A fuss-free way to read articles</h4>
		<p class="white-text flow-text home-text">
			<i>No more title baits; no more endless scrolling.<br>
			Read what you want easily.</i>
		</p>
		<a href="#/feed"><md-button class="home-explore-button black-text">
			Explore now
		</md-button></a>
	</div>
</div>
</div>
<link rel="stylesheet" href="/static/css/home.css">