<div class="slider">
	<ul class="slides">
		<li>
			<img src="/static/images/1st-01.png">
			<div class="caption center-align">
				<h3>We let you read concisely in context.</h3>
			</div>
		</li>
		<li>
			<img src="/static/images/2nd-01.png">
			<div class="caption center-align black-text">
				<h4>No more title baits, more details in summarized form.</h3>
			</div>
		</li>
		<li>
			<img src="/static/images/3rd-01.png">
			<div class="caption center-align black-text">
				<h4>Expand only when you want to.</h3>
			</div>
		</li>
	</ul>
</div>
<div id="home-features" layout="row" layout-align="center center">
	<md-list>
		<md-list-item>
			<i class="material-icons">thumb_up</i>Favourite your article
		</md-list-item>
		<md-list-item>
			<i class="material-icons">share</i>
			Share on your social network
		</md-list-item>
		<md-list-item>
			<a href="#/feed" class="waves-light waves-effect btn blue">Explore now</a>
		</md-list-item>
	</md-list>
</div>
<link rel="stylesheet" href="/static/css/home.css">