<div class="container" infinite-scroll="getMoreBookmarks()" infinite-scroll-disabled="isLoading || isLastPage"
	 infinite-scroll-immediate-check="false" infinite-scroll-container='".main-content-container"'>
	<div layout="column" layout-align="start center" class="md-padding">
		<img ng-src="{{ user.image }}" class="circle" style="width: 100px; height: 100px">
		<h5>{{ user.name }}'s Bookmarks</h5>
	</div>
	<md-tabs ng-if="bookmarkSummary.total != undefined">
		<md-tab label="All({{ bookmarkSummary.total }})" md-on-select="getBookmarksForCategory('0')"></md-tab>
		<md-tab ng-repeat="(category, count) in bookmarkSummary.by_categories"
				label="{{ getCategoryNameForId(category) }}({{ count }})"
				md-on-select="getBookmarksForCategory(category)"></md-tab>
	</md-tabs>
	<div class="row" ng-repeat="article in articles" id="{{ article.source }}_{{ article.article_id }}">
		<div class="col s12">
			<div class="card">
				<div class="card-image">
					<img ng-src="{{ article.image }}">
				</div>
				<a ng-href="{{ article.url }}" class="black-text" target="_blank">
					<h5 class="article-title">{{ article.title }}</h5>
				</a>

				<p class="flow-text article-desc">
					Category: <a ng-href="{{ article.categoryUrl }}">{{ article.category }}</a><br>
					Source: <a ng-href="{{ article.url }}" target="_blank">{{ article.source }}</a>
				</p>
				<ul class="collapsible z-depth-0" data-accordion="true" watch>
					<li ng-repeat="point in article.bullets" post-repeat="initCollapsible">
						<div class="collapsible-header">{{ point.title }}
							<span ng-if="point.details.length > 0" class="expand-hint">
								<ng-md-icon icon="expand_more" style="fill: black" size="20"></ng-md-icon>
							</span>
						</div>
						<div class="collapsible-body bullet-details" ng-if="point.details.length > 0">
							<p ng-repeat="para in point.details track by $index">{{ para }}</p>
						</div>
					</li>
					<li ng-if="article.bullets.length === 0">
						<p class="article-desc">{{ article.headlines[0] }}</p>
					</li>
				</ul>
				<div layout="row" layout-align="center">
					<md-button flex class="article-action-button" ng-click="removeBookmark($index)">
						<md-icon>
							<ng-md-icon icon="bookmark" style="fill: black" size="24"></ng-md-icon>
						</md-icon>
					</md-button>
					<md-button flex class="article-action-button" ng-click="shareArticle(article.url)">
						<md-icon>
							<ng-md-icon icon="share" style="fill: black" size="24"></ng-md-icon>
						</md-icon>
					</md-button>
				</div>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="space-around" ng-show="isLoading">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
<link rel="stylesheet" href="/static/css/feed.css">