.title-bar {
	background-color: #0B1A33 !important;
	position: fixed;
	top: 0;
}

.title-bar-logo {
	max-height: 40px;
	cursor: pointer;
	outline: 0;
}

.menu-icon {
	position: relative;
	top: 6px;
}
