.title-bar {
	background-color: #0B1A33 !important;
	position: fixed;
	top: 0;
}

.title-bar-logo {
	max-width: 40px;
	max-height: 40px;
	cursor: pointer;
	outline: 0;
	position: absolute;
	left: 50%;
	top: 12px;
	@media only screen and (max-width: 600px) and (min-width: 0) and (orientation: portrait) {
		top: 8px;
	}
	-ms-transform: translate(-20px, 0px);
	-webkit-transform: translate(-20px, 0px);
	transform: translate(-20px, 0px);
}

.refresh-icon {
	min-width: 0;
}

.menu-icon {
	position: relative;
	top: 6px;
}

.fb-login-icon {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	display: inline-block;
}

.fb-profile-image {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
