<md-toolbar class="title-bar">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="menu" ng-click="showSideBar()">
			<ng-md-icon icon="menu" style="fill: white" size="36" class="menu-icon"></ng-md-icon>
		</md-button>
		<span flex></span>
		<img src="/static/images/logo.png" class="title-bar-logo" ng-click="onClickLogo()">
		<span flex></span>
		<md-button ng-click="onClickLogin()" ng-if="!isLoggedIn()" class="right">
			<ng-md-icon icon="facebook-box" style="fill: white; vertical-align: middle"size="36"></ng-md-icon>
			Log In
		</md-button>
		<md-button ng-click="onClickLogout()" ng-if="isLoggedIn()">
			<img ng-src="{{user.image}}" style="vertical-align: middle; width: 45px; height: 45px; border-radius: 50%"> Logout
		</md-button>
		<!-- <div fb-menu></div> -->
	</div>
</md-toolbar>
