.article-desc{
	padding-left: 2%;
}

.article-title{
	//text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
	opacity: 0.6;
}

.collapsible-header{
	text-overflow: ellipsis;
  	text-wrap: none;
}