<md-sidenav class="md-sidenav-left md-whiteframe-z2 side-nav" md-component-id="side-bar">
	<md-menu-content class="sidenav-menu">
		<md-menu-item ng-if="isLoggedIn()">
			<md-button ng-click="onMenuSelect('profile', '/profile')" ng-class="{'md-focused': page==='profile'}">
				<img ng-src="{{ user.image }}" class="circle" id="sidenav-profile-image">
				<b>My Bookmarks</b>
			</md-button>
		</md-menu-item>
		<md-menu-item ng-repeat="item in sideMenuItems">
			<md-button ng-click="onMenuSelect(item.iid, item.view)"
					   ng-class="{'md-focused': page===item.iid}">
				<md-icon>
					<ng-md-icon icon="{{ item.icon }}" class="sidenav-icon" size="24"></ng-md-icon>
				</md-icon>
				{{ item.title }}
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button ng-click="onClickShare()">
				<md-icon>
					<ng-md-icon icon="facebook-box" class="sidenav-icon" size="24"></ng-md-icon>
				</md-icon>
				Share this app!
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-sidenav>